workflows/workflow-atencion-clientes-ia.json
{
  "name": "Automatizacion de Atencion al Cliente con IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba-cliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "93828b7c-e543-4c36-adba-7f8c212bfc13",
      "name": "Webhook",
      "webhookId": "46d866ee-d625-42ac-a3ce-1ab1f9b95477"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e383e965-bc10-455c-a76c-fb0dfc45b7be",
              "name": "mensaje",
              "value": "={{$json.body.mensaje}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "92ae9a96-cb97-400a-95ca-1e13bf78b411",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/free",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        176
      ],
      "id": "5e91b1b6-1238-4759-94c4-9563d18c1330",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zaE4B3WlAeDr25VS",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.mensaje}}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de un negocio de soporte técnico de computadoras en México.\n\nServicios y precios:\n\n- Formateo + instalación de Windows + drivers básicos + activación limpia: $500 MXN\n- Instalación de Windows + Office + programas básicos: $650 MXN\n- Instalación de Windows + respaldo de archivos: $800 MXN\n- Instalación de drivers específicos: $200 MXN\n- Activación o reactivación de Office o Windows: $150 MXN\n- Instalación de software profesional: $400 MXN\n- Actualización a SSD: $1000 MXN más el costo del SSD\n\nReglas:\n\n- Responde siempre en español.\n- Sé breve y profesional.\n- Usa los precios anteriores cuando correspondan.\n- Nunca inventes precios.\n- Si falta información para cotizar, solicítala.\n- Si el servicio no aparece en la lista, indica que un técnico revisará el caso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "6fafe204-b399-4af0-90df-fcacc2fde872",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        0
      ],
      "id": "8db6d595-cd41-45fb-98b0-fdf224878a78",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ $('Edit Fields').item.json.mensaje }}",
            "respuesta": "={{ $('AI Agent').item.json.output }}",
            "estado": "nuevo"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        0
      ],
      "id": "73a454a7-865f-41fe-8727-767cb7fa5758",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "E6ynP6a6vBExCZJL",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b0dd1e2-8d3a-4eb2-8d38-10bc9f0cec51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8323dd33f2b84ef05a84543c7358304d920a64a1268b6ff38c8d9d0bcf4561cc"
  },
  "nodeGroups": [],
  "id": "RsE8589gaywUvcnb",
  "tags": []
}